<div style="background: #eeeeee;">
   <div style="max-width: 600px; margin: 0 auto;">
      <div style="text-align: left; padding: 24px 48px; background: #f5f5f5;">
         <img src="https://blocommerce-logo.s3.amazonaws.com/BLOCommereceLogo.png" />
      </div>
      <div style="padding: 48px 48px 48px 48px; background: #ffffff;">
         <p style="
           text-align: left;
           font-weight: 900;
           font-size: 34px;
           line-height: 36px;
           color: #000000;
           font-family: sans-serif;
           margin: 0 0 25px 0;
         ">
            Authenticate your account
         </p>
         <p
            style="text-align: left; font-family: sans-serif; font-weight: 500; font-size: 14px; line-height: 20px; /* or 143% */ letter-spacing: 0.25px; margin: 0 0 25px 0;">
            Thanks for registering with us! Please hit the button below, to authenticate your BLOCommerce account
         </p>
         <a href="{link}" style="
           padding: 8px 22px;
           background: #24d182;
          
           box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
           border-radius: 4px;
           border: none;
           outline: none;
           font-family: sans-serif;
           font-weight: 500;
           font-size: 15px;
           line-height: 26px;
          
           letter-spacing: 0.46px;
           text-transform: uppercase;
 
           
           color: rgba(0, 0, 0, 0.8);
           margin: 0 0 25px 0;
           display: inline-block;
         ">
            Activate your account
         </a>
         <p
            style="font-family: sans-serif; font-weight: 500; font-size: 14px; line-height: 20px; /* or 143% */ letter-spacing: 0.25px; color: #000000; margin: 0 0 25px 0;">
            or click on the link below if you are not able to see the button
         </p>
         <a href="" style="
           font-family: sans-serif;
           font-weight: 500;
           font-size: 14px;
           line-height: 20px;
           /* identical to box height, or 143% */
           letter-spacing: 0.25px;
 
           /* Primary/Dark */
           color: #00ac5e;
         ">
            {link}
         </a>
      </div>

      <div style="background: #f5f5f5; padding: 26px 28px; margin-bottom: 26px;">
         <div style="display: flex; width: 100%; margin-bottom: 26px;">
            <div style="width: 50%; text-align:left;">
               <a href="https://www.blocommerce.com/" style="
               font-family: sans-serif;
               font-weight: 500;
               font-size: 14px;
               line-height: 20px;
               /* identical to box height, or 143% */
               text-align: center;
               letter-spacing: 0.25px;
 
               /* Primary/Dark */
               color: #00ac5e;
             ">
                  BLOCommerce.com
               </a>
            </div>
            <div style="width: 50%; text-align: end;">
               <a href="https://www.linkedin.com/company/blocommerce" style="margin-right: 20px;">
                  <img src="https://blocommerce-logo.s3.amazonaws.com/Linkedin.png" alt="" />
               </a>
               <a href="https://twitter.com/bloc_platform" style="margin-right: 20px;">
                  <img src="https://blocommerce-logo.s3.amazonaws.com/Twitter.png" alt="" />
               </a>
               <a href="https://discord.com/invite/5Rt7c8bjTG">
                  <img src="https://blocommerce-logo.s3.amazonaws.com/Discord.png" />
               </a>
            </div>
         </div>
         <hr style="border: 1px solid #e0e0e0; margin-bottom: 26px;" />
         <div style="
           display: flex;
           align-items: center;
           justify-content: center;
           flex-wrap: wrap;
 
           /* identical to box height, or 143% */
           margin-bottom: 26px;
         ">
            <p
               style="font-family: sans-serif; font-weight: 500; font-size: 14px; line-height: 20px; /* identical to box height, or 143% */ text-align: center; letter-spacing: 0.25px; color: #000000; margin: 0 6px;">
               © 2022 BLOCommerce
            </p>
            |
            <a href="https://www.blocommerce.com/privacy-policy"
               style="font-family: sans-serif; font-size: 14px; line-height: 20px; letter-spacing: 0.25px; color: #00ac5e; text-decoration: none; margin: 0 6px;">
               Privacy Policy
            </a>
            |
            <a href="https://www.blocommerce.com/terms-of-use"
               style="font-family: sans-serif; font-size: 14px; line-height: 20px;  letter-spacing: 0.25px; color: #00ac5e; margin: 0 6px; text-decoration: none;">
               Terms of Service
            </a>
            |
            <a href="mailto: hello@blocommerce.com"
               style="font-family: sans-serif; font-size: 14px; line-height: 20px;  letter-spacing: 0.25px; color: #00ac5e; margin: 0 6px; text-decoration: none;">
               Contact us
            </a>
            |
         </div>
      </div>
   </div>
</div>