<html>

<body style="background-color:#FFFFFF; font-family: Roboto,sans-serif;">
    <div
        style="margin-right: auto; margin-left: auto; max-width: 600px; padding-right: 10px; padding-left: 10px; text-align: center;">
        <div style="font-weight: 900; font-size: 40px; text-align: left; margin-bottom: 25px;">
            <h1>BLOCOMMERCE</h1>
        </div>
        <p
            style="font-style: normal; font-weight: 900; font-size: 34px; line-height: 36px; text-align: left; color: #9a8cf2; width: 60%;">
            Reset Password</p>
        <p
            style="font-size: 14px;font-weight: 600; font-style: normal; text-align: left; line-height: 20px; letter-spacing: 0.25px;">
            Hello,
        </p>
        <p
            style="font-size: 14px;font-weight: 600; font-style: normal; text-align: left; line-height: 20px; letter-spacing: 0.25px;">
            Please hit the button below to reset your password
        </p>
        <div style="display: flex; justify-content: center; margin-top: 25px; text-align: center; margin-bottom: 25px;">
            <div
                style="background: #12f1ae; width: 189px; cursor: pointer; border-radius: 4px; align-items: center; padding: 10px 16px; text-align: center; letter-spacing: 1.25px; text-transform: uppercase; font-weight: 500; border: none; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12),0px 2px 2px rgba(0, 0, 0, 0.24);">
                <a href="{link}" target="_blank"
                    style="cursor: pointer; text-decoration: none; color: #16171b; font-weight: 500; line-height: 16px; margin: 0px 10px;">Reset Password</a>
            </div>
        </div>
        <p
            style="font-size: 14px; font-weight: 600; font-style: normal; text-align: left; line-height: 20px; letter-spacing: 0.25px;">
            or click on the link below if you are not able to see the button
        </p>
        <p
            style="text-align: left; color: #227d53; margin-bottom: 25px; margin-top: 25px; line-height: 20px; letter-spacing: 0.25px; ">
            <a href="{link}" target="_blank"
                style="color: #227d53; text-decoration: none;">{link}</a>
        </p>
        <p
            style="font-size: 14px; font-weight: 600; font-style: normal; text-align: left; line-height: 20px; letter-spacing: 0.25px;">
            If you did not request this password reset, it is possible that someone else tried to access your Blocommerce account. Don’t forward this email to anyone.
        </p>
        
    </div>
</body>

</html>